@model List<Product>
<!-- model List(YourAppName.Models.Product-->

<table>
    <tr>
        <th>Name</th>
        <th>Cal</th>
        <th>Fat</th>
        <th>Carb</th>
        <th>Protien</th>
    </tr>

    @foreach(Product prod in Model)
    {
    <tr>
        <td>@prod.Name</td>
        <td>@prod.Calories</td>
        <td>@prod.Fat</td>
        <td>@prod.Carbohydrate</td>
        <td>@prod.Protien</td>
    </tr>
    }
</table>