@model Product

<h2>@Model.Name</h2>

<h3>Cal: @Model.Calories</h3>
<h3>Fat: @Model.Fat</h3>
<h3>Carb: @Model.Carbohydrate</h3>
<h3>Protien: @Model.Protien</h3>

<div style="display: inline-block">
    <a href="/Product/UpdateProduct/@Model.Product_ID" class="btn btn-default">Update</a>
</div>

<div style="display: inline-block">
    @using(Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="Product_ID" value="@Model.Product_ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" class="btn btn-default" />
    }
</div>
